<%- include('navbar') %> 
<br><br>
<div class="text-center">
<div class="card failure">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark">x</i>
    </div>
      <h1>Error</h1> 
      <p>Transaction fail<br/> 
        <a href="/customers/allCustomers" type="button" class="btn btn-danger">Go back</a>
    </p>
    </div>
</div>