<div class="container-fluid footer">

    <div class="row">
      <div class="col-lg-4">
        <h5 class="footer-subtitle">OFFICE ADDRESS</h5>
        <p>12 XYZ NAGAR</p>
        <p>Colony </p>
        <p>Uttar Pardesh</p>
      </div>
      <div class="col-lg-4">
        <h5 class="footer-subtitle">FOLLOW US ON </h5>
        <i class=" fab fa-twitter fa-2x social-icon"></i>
        <i class=" fab fa-linkedin fa-2x social-icon"></i>
        <i class=" fab fa-youtube fa-2x social-icon"></i>
        <br> <i class=" fab fa-linkedin fa-2x social-icon"></i>
        <i class=" fab fa-youtube fa-2x social-icon"></i>
        <i class=" fab fa-google-plus fa-2x social-icon"></i>
      </div>
      <div class="col-lg-4">
        <h5 class="footer-subtitle">CONTACT US</h5>
        <p>+1233545556</p>
        <p>123@gmail.com</p>
        <p>enquiry.com</p>
      </div>
    </div>
  </div>
